In [27]:
# Write the Python code using Spark DataFrames and PySpark-related functions to fulfil each of the
# following requirements. Appendix A provides a list of PySpark-related functions and their descriptions
# for your reference.

In [2]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import * 
from pyspark.sql.types import IntegerType 
spark=SparkSession.builder.appName("SparkApp").getOrCreate() 
spark = SparkSession.builder.getOrCreate()

25/07/17 17:42:39 WARN Utils: Your hostname, PC18. resolves to a loopback address: 127.0.1.1; using 172.27.86.249 instead (on interface eth0)
25/07/17 17:42:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/17 17:42:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/07/17 17:42:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
schema = "Name STRING, Test INT, Assignment INT, Presentation INT"
df = spark.read.option("header", "true").csv("data/marks.csv", schema=schema)
df.show()

+--------+----+----------+------------+
|    Name|Test|Assignment|Presentation|
+--------+----+----------+------------+
|Student1|  39|        34|          10|
|Student2|  37|        47|           9|
|Student3|  30|        33|           9|
|Student4|  37|        49|           6|
|Student5|  37|        46|           7|
|Student6|  35|        40|          10|
+--------+----+----------+------------+

In [4]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Test: integer (nullable = true)
 |-- Assignment: integer (nullable = true)
 |-- Presentation: integer (nullable = true)

In [ ]:
#  a) Get the total number of rows in df.

In [5]:
df.createOrReplaceTempView("Marks")

In [7]:
total_rows = spark.sql("SELECT COUNT(*) AS TOTAL_ROWS FROM MARKS")
total_rows.show()

+----------+
|TOTAL_ROWS|
+----------+
|         6|
+----------+

In [ ]:
# b)Display the name and assignment mark for the first 5 students.

In [10]:
first_student = spark.sql("SELECT NAME,ASSIGNMENT FROM MARKS LIMIT 5")
first_student.show()

+--------+----------+
|    NAME|ASSIGNMENT|
+--------+----------+
|Student1|        34|
|Student2|        47|
|Student3|        33|
|Student4|        49|
|Student5|        46|
+--------+----------+

In [ ]:
# c)Find the count of each test mark present in the dataset. For example, the output below indicates
#   that 11 students obtained 31 marks in their test, 10 students obtained 34 marks in their test, and
#   so on.

In [18]:
count_marks = spark.sql("SELECT TEST, COUNT(TEST) AS COUNT FROM MARKS GROUP BY TEST ORDER BY TEST DESC")
count_marks.show()

+----+-----+
|TEST|COUNT|
+----+-----+
|  39|    1|
|  37|    3|
|  35|    1|
|  30|    1|
+----+-----+

In [ ]:
# d)Filter the rows with assignment marks that are greater than or equal to 40

In [35]:
df.filter(col("Assignment") >= 40).show()

+--------+----+----------+------------+
|    Name|Test|Assignment|Presentation|
+--------+----+----------+------------+
|Student2|  37|        47|           9|
|Student4|  37|        49|           6|
|Student5|  37|        46|           7|
|Student6|  35|        40|          10|
+--------+----+----------+------------+

In [ ]:
# e) Display the records sorted in descending order of the presentation marks.

In [36]:
df.orderBy(col("Presentation").desc()).show()

+--------+----+----------+------------+
|    Name|Test|Assignment|Presentation|
+--------+----+----------+------------+
|Student1|  39|        34|          10|
|Student6|  35|        40|          10|
|Student2|  37|        47|           9|
|Student3|  30|        33|           9|
|Student5|  37|        46|           7|
|Student4|  37|        49|           6|
+--------+----+----------+------------+

In [ ]:
# f) Define a PySpark user-defined function (UDF) that computes the total mark by summing the
#    marks for the test, assignment and presentation.

In [37]:
def compute_total(test, assignment, presentation):
    return test + assignment + presentation

In [38]:
compute_total_udf = udf(compute_total, IntegerType())

In [ ]:
# g)Add a new column to df named “Total” which contains the total marks for the students. Use the
#   UDF from Question 4 f) to compute this total mark

In [39]:
df = df.withColumn("Total", compute_total_udf("Test", "Assignment", "Presentation"))
df.show()

+--------+----+----------+------------+-----+
|    Name|Test|Assignment|Presentation|Total|
+--------+----+----------+------------+-----+
|Student1|  39|        34|          10|   83|
|Student2|  37|        47|           9|   93|
|Student3|  30|        33|           9|   72|
|Student4|  37|        49|           6|   92|
|Student5|  37|        46|           7|   90|
|Student6|  35|        40|          10|   85|
+--------+----+----------+------------+-----+

In [40]:
df.show()

+--------+----+----------+------------+-----+
|    Name|Test|Assignment|Presentation|Total|
+--------+----+----------+------------+-----+
|Student1|  39|        34|          10|   83|
|Student2|  37|        47|           9|   93|
|Student3|  30|        33|           9|   72|
|Student4|  37|        49|           6|   92|
|Student5|  37|        46|           7|   90|
|Student6|  35|        40|          10|   85|
+--------+----+----------+------------+-----+